<!DOCTYPE html>

<html>
<head>

{% load static %}
<link rel="stylesheet" media="only screen and (max-width: 650px)" href="{% static 'mobiles.css' %}" />
<link rel="stylesheet" media="only screen and (min-width: 651px)" href="{% static 'styles.css' %}"/>

<title>Surrey Tutoring</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<script type="text/javascript">

    //Sequential fly-in text script- by JavaScriptKit.com
    //For this script and 400+ more, visit http://www.javascriptkit.com
    //This notice must stay intact for use
    
    var pausebetweenmsg=10
    var glidespeed=100
    
    var curobjindex=0
    
    function actualstyle(el, cssproperty){
    if (el.currentStyle)
    return el.currentStyle[cssproperty]
    else if (window.getComputedStyle){
    var elstyle=window.getComputedStyle(el, "")
    return elstyle.getPropertyValue(cssproperty)
    }
    }
    
    function collectElementbyClass(){
    var classname="glidetext"
    glidearray=new Array()
    var inc=0
    var alltags=document.all? document.all : document.getElementsByTagName("*")
    for (i=0; i<alltags.length; i++){
    if (alltags[i].className==classname)
    glidearray[inc++]=alltags[i]
    }
    if (glidearray.length>0)
    onebyoneglide()
    }
    
    function onebyoneglide(){
    if (curobjindex<glidearray.length)
    glidetimer=setInterval("glideroutine()",50)
    }
    
    function glideroutine(){
    if (parseInt(actualstyle(glidearray[curobjindex], "left"))<0)
    glidearray[curobjindex].style.left=parseInt(actualstyle(glidearray[curobjindex], "left"))+50+"px"
    else{
    glidearray[curobjindex].style.left=0
    curobjindex++
    clearInterval(glidetimer)
    setTimeout("onebyoneglide()", pausebetweenmsg)
    }
    }
    
    if (window.addEventListener)
    window.addEventListener("load", collectElementbyClass, false)
    else if (window.attachEvent)
    window.attachEvent("onload", collectElementbyClass)
    else if (document.getElementById)
    window.onload=collectElementbyClass

</script>

</head>

<body>
<div class="header">
    <div class="navBar">
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
    </div>
</div>

<div class="logo">
    <a href="{% url 'index' %}">
    <img src="{% static 'stlogo.png' %}">
    </a>
</div>
<div class="main-background">
    <div class="main">
        <h1 class="glidetext">Surrey Tutoring</h1>
        <p><b>High quality tutoring sessions:</b>
           <br>• Specialising in <b>Early Years, KS1 and KS2</b>
           <br>• <b>Degree qualified</b>
           <br>• <b>DBS certified</b>
           <br>• <b>20+</b> years teaching experience
           <br>• Available in <b>30 and 60 minute</b> slots
           <br>• <b>Online and face-to-face</b> sessions
        </p>
    </div>
    <div class="info">
        <p>Does your child lack confidence with a particular subject?
        <br>Did your child not reach the expected standard in their report?
        <p class="help"> Has their class teacher stated that they could do with some extra help at home, but you're not sure how to do it yourself?</p>
        <p class="help">Surrey Tutoring Services are here to support you and your child through fun and engaging sessions</p>
        </p>

    <div class="final">
        <p>Click the contact button below to get started!</p>
    </div>
    </div>
    <button><a href="mailto:surreytutoringforyou@gmail.com?subject=I%20want%20to%20book%20a%20tutoring%20session!">Contact </a></button>
</div>
</body>