.header {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-variant: normal; 
    font-weight: 500;
    background-color: #0c00b8; 
    height: 100px;
    width: 100%;
}

.navigation {
    color: white;
    padding-top: 3.5%;
}